<% include header %>
<% posts.forEach(function (post, index) { %>
<div class="post">
	<h2><a href="#"><%= post.title %></a></h2>

	<% var date = post.time %>
<p class="info">
	作者：<a href="#"><%= post.name %></a> |
	日期：<%= date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " +
	date.getHours() + ":" + (date.getMinutes() < 10 ? '0' + date.getMinutes():date.getMinutes()) %>
</p>
<p><%- post.post %></p>
</div>
<% }) %>
<% include footer %>